<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">

        <title>{% block title %}Nos Amis les Oiseaux{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
    </head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">NAO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('nao_observation_carte') }}">Observer<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('nao_ajouter_observation') }}">Ajouter une observation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('nao_liste_observation') }}">Liste des observations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('nao_contact') }}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('nao_profile') }}">Tableau de bord</a>
            </li>
        </ul>
        <span class="navbar-text">
          {% if is_granted(['ROLE_PARTICULIER', 'ROLE_NATURALISTE', 'ROLE_ADMIN']) %}
              <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
              {% else %}
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Vous n'êtes pas connecté
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/register">S'inscrire</a>
                        <a class="dropdown-item" href="/login">Se connecter</a>
                    </div>
                </div>
          {% endif %}
        </span>
    </div>
</nav>

<div class="container" style="padding: 3rem 1.5rem;text-align: center;">
    {% block content %}{% endblock %}
</div>

<!-- Bootstrap core JavaScript -->
<script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
