{% extends 'base.html.twig' %}


{% block content %}
    {{ form_start(form) }}
    <h3 class="front-green">Ajouter un article</h3>
    <div class="form-group" style="display: flex;flex-wrap: wrap;">
        <label for="title">Titre</label>
        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
        {% for errorItem in form.title.vars.errors %}
            <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>

    <div class="form-group" style="display: flex;flex-wrap: wrap;">
        <label for="content">Contenu</label>
        {{ form_widget(form.content, { 'attr': {'class': 'form-control'} }) }}
        {% for errorItem in form.content.vars.errors %}
            <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>

    <div class="form-group" style="display: flex;flex-wrap: wrap;">
        {{ form_row(form.image) }}
        {% for errorItem in form.image.vars.errors %}
            <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>

    <div class="form-group" style="display: flex;flex-wrap: wrap;">
        <label for="status">Statut de l'article</label>
        {{ form_widget(form.status, { 'attr': {'class': 'form-control'} }) }}
        {% for errorItem in form.status.vars.errors %}
            <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>

    <hr>

    <div class="form-actions">
        <button type="submit" id="post_save" class="btn btn-primary">Ajouter l'article</button>
    </div>
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

