{% extends 'base.html.twig' %}

{% block content %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}

    <h3 class="front-green">Liste des articles</h3>
    {% for article in articles %}
        <ul class="list-group">
            <li class="list-group-item">
                Date : {{ article.publishedAt|date('d/m/Y') }} - Statut : {{ article.statusText }}
            </li>
            <li class="list-group-item">
                Titre : {{ article.title }}
            </li>
            <li class="list-group-item">
                {{ article.content|raw }}
            </li>
            {% if article.image %}
                <li class="list-group-item">
                    <img src="{{ asset('uploads/blog/images/' ~ article.image) | imagine_filter('thumb_md') }}">
                </li>
            {% endif %}
                <li class="list-group-item">
                    Statut :
                    <a href="{{ path('admin_blog_status', {'id': article.id, 'status': constant('AppBundle\\Entity\\Post::DRAFT')}) }}" class="btn">Mettre en brouillon</a>
                    <a href="{{ path('admin_blog_status', {'id': article.id, 'status': constant('AppBundle\\Entity\\Post::FEATURED')}) }}" class="btn">Mettre en avant</a>
                    <a href="{{ path('admin_blog_status', {'id': article.id, 'status': constant('AppBundle\\Entity\\Post::PUBLISHED')}) }}" class="btn">Publier</a>
                    <a href="{{ path('admin_blog_status', {'id': article.id, 'status': constant('AppBundle\\Entity\\Post::ARCHIVED')}) }}" class="btn">Archiver</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('admin_post_modifier', {'id': article.id}) }}" class="btn btn-primary">Modifier l'article</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('admin_blog_supprimer', {'id': article.id}) }}" class="btn btn-danger">Supprimer l'article</a>
                </li>
        </ul>
        <hr>
    {% endfor %}
{% endblock %}