{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/js-datepicker/datepicker.css">
{% endblock %}

{% block content %}
    <script src="https://unpkg.com/js-datepicker"></script>
    {{ form_start(form) }}
    <h3 class="front-green">Ajouter une observation</h3>
    <div class="form-group" style="display: flex;flex-wrap: wrap;">
        <label for="adresse">Adresse</label>
        {{ form_widget(form.adresse, { 'attr': {'class': 'form-control'} }) }}
        {% for errorItem in form.adresse.vars.errors %}
            <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>

    <div class="form-group" style="display: flex;flex-wrap: wrap;">
        <label for="zipcode">Code ZIP</label>
        {{ form_widget(form.zipcode, { 'attr': {'class': 'form-control'} }) }}
        {% for errorItem in form.zipcode.vars.errors %}
            <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>

    <div class="form-group" style="display: flex;flex-wrap: wrap;">
        <label for="ville">Ville</label>
        {{ form_widget(form.ville, { 'attr': {'class': 'form-control'} }) }}
        {% for errorItem in form.ville.vars.errors %}
            <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>

    <div class="form-group" style="display: flex;flex-wrap: wrap;">
        <label for="pays">Pays</label>
        {{ form_widget(form.pays, { 'attr': {'class': 'form-control'} }) }}
        {% for errorItem in form.pays.vars.errors %}
            <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>

    <div class="form-group" style="display: flex;flex-wrap: wrap;">
        <label for="date">Date</label>
        {{ form_widget(form.date, { 'attr': {'class': 'form-control'} }) }}
        {% for errorItem in form.date.vars.errors %}
            <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>

    <div class="form-group" style="display: flex;flex-wrap: wrap;">
        <label for="espece">Espèce</label>
        {{ form_widget(form.espece, { 'attr': {'class': 'form-control'} }) }}
        {% for errorItem in form.espece.vars.errors %}
            <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>

    <div class="form-group" style="display: flex;flex-wrap: wrap;">
        <label for="individuals">Nombre d'individus observés</label>
        {{ form_widget(form.individuals, { 'attr': {'class': 'form-control'} }) }}
        {% for errorItem in form.individuals.vars.errors %}
            <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>

    <div class="form-group" style="display: flex;flex-wrap: wrap;">
        <label for="commentaire">Commentaire</label>
        {{ form_widget(form.commentaire, { 'attr': {'class': 'form-control'} }) }}
        {% for errorItem in form.commentaire.vars.errors %}
            <span class="help-inline">{{ errorItem.message }}</span>
        {% endfor %}
    </div>

    <hr>

    <div class="form-actions">
        <a class="btn btn-default" href="/observation">Retour à la carte</a>
        <button type="submit" id="observation_save" class="btn btn-primary">Ajouter l'observation</button>
    </div>
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}