{% extends 'base.html.twig' %}

{% block title %}Observation de {{ observation.user.username }} : {{ observation.bird.nomCourant }} - NAO{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='uglifycss, cssrewrite'
        'css/photoswipe.css'
        'css/photoswipe-skin/default-skin/default-skin.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Observations</h2><span>Détails d'une observation</span>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="{{ path('nao_accueil') }}">Accueil</a></li>
                            <li><a href="{{ path('nao_liste_observation') }}">Observations</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>

    {% if observation %}

        <!-- Root element of PhotoSwipe. Must have class pswp. -->
        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

            <!-- Background of PhotoSwipe.
                 It's a separate element as animating opacity is faster than rgba(). -->
            <div class="pswp__bg"></div>

            <!-- Slides wrapper with overflow:hidden. -->
            <div class="pswp__scroll-wrap">

                <!-- Container that holds slides.
                    PhotoSwipe keeps only 3 of them in the DOM to save memory.
                    Don't modify these 3 pswp__item elements, data is added later on. -->
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>

                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                <div class="pswp__ui pswp__ui--hidden">

                    <div class="pswp__top-bar">

                        <!--  Controls are self-explanatory. Order can be changed. -->

                        <div class="pswp__counter"></div>

                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                        <button class="pswp__button pswp__button--share" title="Share"></button>

                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                        <!-- element will get class pswp__preloader--active when preloader is running -->
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut">
                                    <div class="pswp__preloader__donut"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div>
                    </div>

                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                    </button>

                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                    </button>

                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Content
        ================================================== -->
        <div class="container">
            <div class="row sticky-wrapper">
                <div class="col-lg-8 col-md-8 padding-right-30">
                    <!-- Image -->
                    <div class="listing-item-image" id="photoswipe">
                        <img src="{{ asset('uploads/observation/' ~ observation.image) | imagine_filter('thumb_bl') }}" alt="{{ observation.bird.nomCourant }}">
                    </div>

                    <!-- Titlebar -->
                    <div id="titlebar" class="listing-titlebar">
                        <div class="listing-titlebar-title">
                            <h3>{{ observation.bird.nomCourant }}<!--<span class="listing-tag">Observation</span>--></h3>
                            <span>
                                <a href="#listing-location" class="listing-address">
                                    <i class="fa fa-map-marker"></i>
                                    {{ observation.adresse }}, le {{ observation.date|date('d/m/Y') }}
                                </a>
                            </span>
                        </div>
                    </div>

                    <!-- Listing Nav -->
                    <div class="listing-nav-container">
                        <ul class="listing-nav">
                            <li><a href="#bird-info" class="active">Informations de l'oiseau</a></li>
                            <li><a href="#listing-overview">Commentaire de l'observateur</a></li>
                            <li><a href="#listing-location">Localisation de l'oiseau</a></li>
                        </ul>
                    </div>

                    <!-- Informations de l'oiseau -->
                    <div id="bird-info" class="listing-section margin-bottom-10">
                        <div id="info-text">Récuperation des informations...</div>
                        <blockquote class="hidden" id="source">source : <a href="https://fr.wikipedia.org/wiki/{{ observation.bird.nomCourant|url_encode }}" target="_blank">Wikipedia</a></blockquote>
                    </div>

                    <!-- Message de l'observateur -->
                    <div id="listing-overview" class="listing-section">

                        <h3 class="listing-desc-headline margin-top-15 margin-bottom-30">Commentaire de l'observateur</h3>
                        <!-- Description -->

                        <p>
                            {{ observation.commentaire }}
                        </p>

                        <!-- Informations de l'observation -->
                        <h3 class="listing-desc-headline">Informations de l'observation</h3>
                        <ul class="listing-features checkboxes margin-top-0">
                            {% if observation.individuals > 1 %}
                                <li>Plusieurs individus observés</li>
                            {% endif %}
                            <li>Observation validée</li>
                            {% if observation.image %}
                                <li>Photographie</li>
                            {% endif %}
                            {% if observation.date|date('m') == 'now'|date('m') %}
                                <li>Observation récente</li>
                            {% endif %}
                        </ul>
                    </div>

                    <!-- Location -->
                    <div id="listing-location" class="listing-section margin-bottom-50">
                        <h3 class="listing-desc-headline margin-top-60 margin-bottom-30">Localisation de l'oiseau</h3>

                        <div id="singleListingMap-container">
                            <div id="singleListingMap" data-latitude="40.70437865245596" data-longitude="-73.98674011230469" data-map-icon="im im-icon-Hamburger"></div>
                        </div>
                    </div>

                </div>


                <!-- Sidebar
                ================================================== -->
                <div class="col-lg-4 col-md-4 sticky">


                    <!-- Verified Badge -->
                    <div class="verified-badge with-tip" data-tip-content="L'observation a été validée par un membre de l'équipe de NAO.">
                        <i class="sl sl-icon-check"></i> Observation validée
                    </div>

                    <!-- Contact -->
                    <div class="boxed-widget margin-top-35">
                        <div class="hosted-by-title">
                            <h4><span>Observation de</span> <a>{{ observation.user.username }}</a></h4>
                            <img src="{{ observation.user.email|gravatar(70,'mm') }}" alt="{{ observation.user.username }}">
                        </div>
                    </div>
                    <!-- Contact / End-->


                    <!-- Share / Like -->
                    <div class="listing-share margin-top-40 margin-bottom-40 no-border">

                        <!-- Share Buttons -->
                        <ul class="share-buttons margin-top-40 margin-bottom-0">
                            <li><a class="fb-share" href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri|url_encode }}"><i class="fa fa-facebook"></i> Partager sur Facebook</a></li>
                            <li><a class="twitter-share" href="https://twitter.com/home?status={{ app.request.uri|url_encode }}"><i class="fa fa-twitter"></i> Partager sur Twitter</a></li>
                            <li><a class="gplus-share" href="https://plus.google.com/share?url={{ app.request.uri|url_encode }}"><i class="fa fa-google-plus"></i> Partager sur Google+</a></li>
                            <li><a class="pinterest-share" href="https://pinterest.com/pin/create/button/?url={{ app.request.uri|url_encode }}&media={{ asset('uploads/blog/' ~ observation.image) | imagine_filter('thumb_lg')|url_encode }}"><i class="fa fa-pinterest-p"></i> Partager sur Pinterest</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <!-- Sidebar / End -->

            </div>
        </div>
    {% else %}
        <script>window.location.href = '{{ path('nao_liste_observation') }}';</script>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% if observation %}
        <script>
            function fetchData(){$.ajax({type:"GET",url:"https://fr.wikipedia.org/w/api.php?action=parse&format=json&prop=text&section=1&page={{ observation.bird.nomCourant|url_encode }}&callback=?",contentType:"application/json; charset=utf-8",async:!0,dataType:"json",success:function(t,e,n){var o=t.parse.text["*"],a=$("<div></div>").html(o);$("#info-text").html($(a).find("p")),$("#source").removeClass("hidden")},error:function(t){}})}function errorFetchingData(){"Récuperation des informations..."===document.getElementById("info-text").innerHTML&&$("#info-text").html("Aucune information n'a été trouvée.")}$(document).ready(function(){fetchData(),setInterval(errorFetchingData,5e3)});

            var map;
            var pos = {lat: {{ observation.latitude }}, lng: {{ observation.longitude }} };

            function initMap() {
                map = new google.maps.Map(document.getElementById('singleListingMap'), {
                    center: pos,
                    zoom: 8,
                    styles: [{
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [{
                            "color": "#e9e9e9"
                        }, {
                            "lightness": 17
                        }]
                    }, {
                        "featureType": "landscape",
                        "elementType": "geometry",
                        "stylers": [{
                            "color": "#f5f5f5"
                        }, {
                            "lightness": 20
                        }]
                    }, {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [{
                            "color": "#ffffff"
                        }, {
                            "lightness": 17
                        }]
                    }, {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [{
                            "color": "#ffffff"
                        }, {
                            "lightness": 29
                        }, {
                            "weight": 0.2
                        }]
                    }, {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [{
                            "color": "#ffffff"
                        }, {
                            "lightness": 18
                        }]
                    }, {
                        "featureType": "road.local",
                        "elementType": "geometry",
                        "stylers": [{
                            "color": "#ffffff"
                        }, {
                            "lightness": 16
                        }]
                    }, {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [{
                            "color": "#f5f5f5"
                        }, {
                            "lightness": 21
                        }]
                    }, {
                        "featureType": "poi.park",
                        "elementType": "geometry",
                        "stylers": [{
                            "color": "#dedede"
                        }, {
                            "lightness": 21
                        }]
                    }, {
                        "elementType": "labels.text.stroke",
                        "stylers": [{
                            "visibility": "on"
                        }, {
                            "color": "#ffffff"
                        }, {
                            "lightness": 16
                        }]
                    }, {
                        "elementType": "labels.text.fill",
                        "stylers": [{
                            "saturation": 36
                        }, {
                            "color": "#333333"
                        }, {
                            "lightness": 40
                        }]
                    }, {
                        "elementType": "labels.icon",
                        "stylers": [{
                            "visibility": "off"
                        }]
                    }, {
                        "featureType": "transit",
                        "elementType": "geometry",
                        "stylers": [{
                            "color": "#f2f2f2"
                        }, {
                            "lightness": 19
                        }]
                    }, {
                        "featureType": "administrative",
                        "elementType": "geometry.fill",
                        "stylers": [{
                            "color": "#fefefe"
                        }, {
                            "lightness": 20
                        }]
                    }, {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [{
                            "color": "#fefefe"
                        }, {
                            "lightness": 17
                        }, {
                            "weight": 1.2
                        }]
                    }]
                });
                var image = '{{ asset('images/icon-map.png') }}';
                var marker = new google.maps.Marker({
                    icon: image,
                    position: pos,
                    map: map
                })
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap"
                async defer></script>

        {% javascripts filter='uglifyjs2'
            'scripts/photoswipe.js'
            'scripts/photoswipe-ui-default.min.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            var openPhotoSwipe = function() {
                var pswpElement = document.querySelectorAll('.pswp')[0];

                // build items array
                var items = [
                    {
                        src: '{{ asset('uploads/observation/' ~ observation.image) | imagine_filter('thumb_bl') }}',
                        w: 900,
                        h: 500
                    }
                ];

                // define options (if needed)
                var options = {
                    // optionName: 'option value'
                    // for example:
                    index: 0 // start at first slide
                };

                // Initializes and opens PhotoSwipe
                var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
                gallery.init();
            }

            $("#photoswipe").click(function () {
                openPhotoSwipe();
            })
        </script>
    {% endif %}
{% endblock %}