{% extends 'base.html.twig' %}

{% block content %}
    <h3 class="front-green">Liste des observations</h3>
    {% for observation in observations %}
        <ul class="list-group">
            <li class="list-group-item">
                Date : {{ observation.date|date('d/m/Y') }}
            </li>
            <li class="list-group-item">
                Lieu : {{ observation.adresse }}
            </li>
            <li class="list-group-item">
                Espèce : {{ observation.bird.nomCourant }}
            </li>
            <li class="list-group-item">
                Individus observés : {{ observation.individuals }}
            </li>
            <li class="list-group-item">
                Commentaire : {{ observation.commentaire }}
            </li>
            <li class="list-group-item">
                De : {{ observation.user.username }}
            </li>
            {% if observation.image %}
            <li class="list-group-item">
                <img src="{{ asset('uploads/images/' ~ observation.image) | imagine_filter('thumb_md') }}">
            </li>
            {% endif %}
        </ul>
        <hr>
    {% endfor %}
{% endblock %}