{% extends 'base.html.twig' %}

{% block content %}
    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="user-profile-titlebar">
                        <div class="user-profile-avatar"><img src="{{ asset('images/avatar.png') }}" alt="{{ app.user }}"></div>
                        <div class="user-profile-name">
                            <h2>{{ app.user }}</h2><br>
                            {% if is_granted('ROLE_ADMIN') %}
                                <span>Administrateur de NAO (Nos Amis les Oiseaux) - <a href="{{ path('nao_admin') }}">Interface de gestion</a></span>
                            {% else %}
                                <span>Utilisateur de NAO (Nos Amis les Oiseaux)</span>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row sticky-wrapper">


            <!-- Sidebar
            ================================================== -->
            <div class="col-lg-4 col-md-4 margin-top-0">

                {% if is_granted('ROLE_ADMIN') %}
                    <!-- Verified Badge -->
                    <div class="verified-badge with-tip" data-tip-content="Votre compte est administrateur, vous disposez de toutes les autorisations.">
                        <i class="sl sl-icon-user-following"></i> Compte Administrateur
                    </div>
                {% elseif is_granted('ROLE_NATURALISTE') %}
                    <div class="verified-badge with-tip" data-tip-content="Votre compte est naturaliste, vous avez la possibilité de valider les observations soumises.">
                        <i class="sl sl-icon-user-following"></i> Compte Naturaliste
                    </div>
                {% elseif is_granted('ROLE_PARTICULIER') %}
                    <div class="verified-badge with-tip" data-tip-content="Votre compte est particulier, vous avez la possibilité d'envoyer des observations.">
                        <i class="sl sl-icon-user-following"></i> Compte Particulier
                    </div>
                {% endif %}

                <!-- Contact -->
                <div class="boxed-widget margin-top-30 margin-bottom-50">
                    <h3>Contact</h3>
                    <ul class="listing-details-sidebar">
                        <li><i class="fa fa-envelope-o"></i> <a href="#">{{ user.email }}</a></li>
                    </ul>
                </div>
                <!-- Contact / End-->

            </div>
            <!-- Sidebar / End -->


            <!-- Content
            ================================================== -->
            <div class="col-lg-8 col-md-8 padding-left-30">

                <h3 class="margin-top-0 margin-bottom-40">Les observation de  {{ app.user }}...</h3>

                <!-- Listings Container -->
                <div class="row">
                    {% for observation in observations %}
                        {% if observation.user == app.user %}
                            <!-- Listing Item -->
                            <div class="col-lg-12 col-md-12">
                                <div class="listing-item-container list-layout">
                                    <a href="/observation/liste" class="listing-item">

                                        <!-- Image -->
                                        <div class="listing-item-image">
                                            <img src="{{ asset('uploads/observation/' ~ observation.image) | imagine_filter('thumb_md') }}" alt="{{ observation.bird.nomCourant }}">
                                            <span class="tag">Observation</span>
                                        </div>

                                        <!-- Content -->
                                        <div class="listing-item-content">
                                            <div class="listing-badge now-open">Valide</div>

                                            <div class="listing-item-inner">
                                                <h3>{{ observation.bird.nomCourant }}</h3>
                                                <span>le <span style="color: brown;">{{ observation.date|date('d/m/Y') }}</span></span>
                                                <br>
                                                <span>Individu(s) observé(s) : {{ observation.individuals }}</span>
                                                <br>
                                                <span>Votre message <i class="fa fa-angle-down"></i></span>
                                                <br>
                                                <span>{{ observation.commentaire|slice('0', '50') }}</span>
                                            </div>

                                            <span class="like-icon"></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- Listing Item / End -->
                        {% endif %}
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>
{% endblock %}