{% extends 'base.html.twig' %}

{% block content %}
    {% if article %}
        <!-- Titlebar
        ================================================== -->
        <div id="titlebar" class="gradient">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h2>Blog</h2><span>{{ article.title }}</span>

                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs">
                            <ul>
                                <li><a href="#">Blog</a></li>
                                <li>{{ article.title }}</li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>

        <!-- Content
        ================================================== -->
        <div class="container">

            <!-- Blog Posts -->
            <div class="blog-page">
                <div class="row">


                    <!-- Post Content -->
                    <div class="col-lg-9 col-md-8 padding-right-30">


                        <!-- Blog Post -->
                        <div class="blog-post single-post">

                            <!-- Content -->
                            <div class="post-content">

                                <h3>{{ article.title }}</h3>

                                <ul class="post-meta">
                                    <li>{{ article.publishedAt|date('d/m/Y') }}</li>
                                </ul>

                                <p>{{ article.content | raw }}</p>

                                <!-- Share Buttons -->
                                <ul class="share-buttons margin-top-40 margin-bottom-0">
                                    <li><a class="fb-share" href="https://www.facebook.com/sharer/sharer.php?u=Super+article+de+l'association+NAO,+à+lire+{{ app.request.uri }}"><i class="fa fa-facebook"></i> Partager sur Facebook</a></li>
                                    <li><a class="twitter-share" href="https://twitter.com/home?status=Super+article+de+l'association+NAO,+à+lire+{{ app.request.uri }}"><i class="fa fa-twitter"></i> Partager sur Twitter</a></li>
                                    <li><a class="gplus-share" href="https://plus.google.com/share?url=Super+article+de+l'association+NAO,+à+lire+{{ app.request.uri }}"><i class="fa fa-google-plus"></i> Partager sur Google+</a></li>
                                    <li><a class="pinterest-share" href="https://pinterest.com/pin/create/button/?url={{ app.request.uri }}&media={{ asset('uploads/blog/' ~ article.image) | imagine_filter('thumb_lg') }}"><i class="fa fa-pinterest-p"></i> Partager sur Pinterest</a></li>
                                </ul>
                                <div class="clearfix"></div>

                            </div>
                        </div>
                        <!-- Blog Post / End -->


                        <!-- Post Navigation -->
                        <ul id="posts-nav" class="margin-top-0 margin-bottom-45">
                            {% if nextArticle %}
                            <li class="next-post">
                                <a href="{{ path('nao_blog_details', {'slug': nextArticle.slug}) }}"><span>Article suivant</span>
                                    {{ nextArticle.title }}</a>
                            </li>
                            {% endif %}
                            {% if prevArticle %}
                            <li class="prev-post">
                                <a href="{{ path('nao_blog_details', {'slug': prevArticle.slug}) }}"><span>Article précédent</span>
                                    {{ prevArticle.title }}
                                </a>
                            </li>
                            {% endif %}
                        </ul>

                        <hr>


                        <!-- Reviews -->
                        <section class="comments">
                            <h4 class="headline margin-bottom-35">Commentaires <span class="comments-amount">(5)</span></h4>

                            <ul>
                                <li>
                                    <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>
                                    <div class="comment-content"><div class="arrow-comment"></div>
                                        <div class="comment-by">Kathy Brown<span class="date">22 August 2017</span>
                                        </div>
                                        <p>Morbi velit eros, sagittis in facilisis non, rhoncus et erat. Nam posuere tristique sem, eu ultricies tortor imperdiet vitae. Curabitur lacinia neque non metus</p>
                                    </div>
                                </li>

                                <li>
                                    <div class="avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /> </div>
                                    <div class="comment-content"><div class="arrow-comment"></div>
                                        <div class="comment-by">John Doe<span class="date">18 August 2017</span>
                                        </div>
                                        <p>Commodo est luctus eget. Proin in nunc laoreet justo volutpat blandit enim. Sem felis, ullamcorper vel aliquam non, varius eget justo. Duis quis nunc tellus sollicitudin mauris.</p>
                                    </div>

                                </li>
                            </ul>

                        </section>
                        <div class="clearfix"></div>


                        <!-- Add Comment -->
                        <div id="add-review" class="add-review-box">

                            <!-- Add Review -->
                            <h3 class="listing-desc-headline margin-bottom-35">Ajouter un commentaire</h3>

                            <!-- Review Comment -->
                            {{ form_start(form) }}
                                <fieldset>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Pseudo :</label>
                                            {{ form_widget(form.pseudo, { 'attr': {'class': 'search-field'} }) }}
                                        </div>

                                        <div class="col-md-6">
                                            <label>Email :</label>
                                            {{ form_widget(form.email, { 'attr': {'class': 'search-field'} }) }}
                                        </div>
                                    </div>

                                    <div>
                                        <label>Commentaire :</label>
                                        {{ form_widget(form.content, { 'attr': {'class': 'search-field'} }) }}
                                        <!--<textarea cols="40" rows="3"></textarea>-->
                                    </div>

                                </fieldset>

                                <button class="button">Envoyer</button>
                                <div class="clearfix"></div>
                            {{ form_widget(form) }}
                            {{ form_end(form) }}

                        </div>
                        <!-- Add Review Box / End -->
                    </div>
                    <!-- Content / End -->
                </div>
            </div>
        </div>
    {% else %}
        <script>window.location.href = '{{ path('nao_blog') }}';</script>
    {% endif %}
{% endblock %}