{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    {% if article %}
        <!-- Titlebar
        ================================================== -->
        <div id="titlebar" class="gradient">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h2>Blog</h2><span>{{ article.title }}</span>

                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs">
                            <ul>
                                <li><a href="{{ path('nao_blog') }}">Blog</a></li>
                                <li>{{ article.title }}</li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>

        <!-- Content
        ================================================== -->
        <div class="container">

            <!-- Blog Posts -->
            <div class="blog-page">
                <div class="row">


                    <!-- Post Content -->
                    <div class="col-lg-9 col-md-8 padding-right-30">


                        <!-- Blog Post -->
                        <div class="blog-post single-post">

                            <!-- Img -->
                            <img class="post-img" src="{{ asset('uploads/blog/' ~ article.image | default('nao_blog_default.jpeg')) | imagine_filter('thumb_lg') }}" alt="">

                            <!-- Content -->
                            <div class="post-content">

                                <h3>{{ article.title }}</h3>

                                <ul class="post-meta">
                                    <li>{{ article.publishedAt|date('d/m/Y') }}</li>
                                </ul>

                                <p>{{ article.content | raw }}</p>

                                <!-- Share Buttons -->
                                <ul class="share-buttons margin-top-40 margin-bottom-0">
                                    <li><a class="fb-share" href="https://www.facebook.com/sharer/sharer.php?u=Super+article+de+l'association+NAO,+à+lire+{{ app.request.uri }}"><i class="fa fa-facebook"></i> Partager sur Facebook</a></li>
                                    <li><a class="twitter-share" href="https://twitter.com/home?status=Super+article+de+l'association+NAO,+à+lire+{{ app.request.uri }}"><i class="fa fa-twitter"></i> Partager sur Twitter</a></li>
                                    <li><a class="gplus-share" href="https://plus.google.com/share?url=Super+article+de+l'association+NAO,+à+lire+{{ app.request.uri }}"><i class="fa fa-google-plus"></i> Partager sur Google+</a></li>
                                    <li><a class="pinterest-share" href="https://pinterest.com/pin/create/button/?url={{ app.request.uri }}&media={{ asset('uploads/blog/' ~ article.image) | imagine_filter('thumb_lg') }}"><i class="fa fa-pinterest-p"></i> Partager sur Pinterest</a></li>
                                </ul>
                                <div class="clearfix"></div>

                            </div>
                        </div>
                        <!-- Blog Post / End -->


                        <!-- Post Navigation -->
                        <ul id="posts-nav" class="margin-top-0 margin-bottom-45">
                            {% if nextArticle %}
                                <li class="next-post">
                                    <a href="{{ path('nao_blog_details', {'slug': nextArticle.slug}) }}"><span>Article suivant</span>
                                        {{ nextArticle.title }}</a>
                                </li>
                            {% endif %}
                            {% if prevArticle %}
                                <li class="prev-post">
                                    <a href="{{ path('nao_blog_details', {'slug': prevArticle.slug}) }}"><span>Article précédent</span>
                                        {{ prevArticle.title }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>

                        <hr>


                        <!-- Reviews -->
                        <section class="comments">
                            <h4 class="headline margin-bottom-35">Commentaires <span class="comments-amount">({{ comments|length }})</span></h4>

                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="notification {{ type }} closeable">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            {% if comments %}
                                <ul>
                                    {% for comment in comments %}
                                        <li>
                                            <div class="avatar"><img src="{{ comment.email|gravatar(70,'mm') }}" alt="" /></div>
                                            <div class="comment-content"><div class="arrow-comment"></div>
                                                <div class="comment-by">{{ comment.pseudo }}<span class="date">{{ comment.createdAt|date('d/m/Y') }}</span>
                                                </div>
                                                <p>{{ comment.content }}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                Aucun commentaire.
                            {% endif %}

                        </section>
                        <div class="clearfix"></div>


                        <!-- Add Comment -->
                        <div id="add-review" class="add-review-box">

                            <!-- Add Review -->
                            <h3 class="listing-desc-headline margin-bottom-35">Ajouter un commentaire</h3>

                            <!-- Review Comment -->
                            {{ form_start(form) }}
                                <fieldset>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Pseudo :</label>
                                            {{ form_widget(form.pseudo) }}
                                            {{ form_errors(form.pseudo) }}
                                        </div>

                                        <div class="col-md-6">
                                            <label>E-mail :</label>
                                            {{ form_widget(form.email) }}
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </div>

                                    <div>
                                        <label>Commentaire :</label>
                                        {{ form_widget(form.content) }}
                                        {{ form_errors(form.content) }}
                                    </div>

                                </fieldset>

                                <input type="submit" class="button" value="Envoyer" />
                                <div class="clearfix"></div>
                            {{ form_widget(form) }}
                            {{ form_end(form) }}

                        </div>
                        <!-- Add Review Box / End -->
                    </div>
                    <!-- Content / End -->
                </div>
            </div>
        </div>
    {% else %}
        <script>window.location.href = '{{ path('nao_blog') }}';</script>
    {% endif %}
{% endblock %}