{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block content %}
    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Blog</h2><span>Derniers articles</span>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="#">Accueil</a></li>
                            <li>Blog</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="container">

        <!-- Blog Posts -->
        <div class="blog-page">
            <div class="row">
                <div class="col-lg-9 col-md-8 padding-right-30">

                    {% for article in articles %}
                        <!-- Blog Post -->
                        <div class="blog-post">

                            {% if article.image %}
                                <!-- Img -->
                                <a href="{{ path('nao_blog_details', {'slug': article.slug}) }}" class="post-img">
                                    <img src="{{ asset('uploads/blog/' ~ article.image) | imagine_filter('thumb_bl') }}" alt="{{ article.title }}" class="blur-post">
                                </a>
                            {% endif %}

                            <!-- Content -->
                            <div class="post-content">
                                <h3><a href="{{ path('nao_blog_details', {'slug': article.slug}) }}">{{ article.title }} </a></h3>

                                <ul class="post-meta">
                                    <li>{{ article.publishedAt|date('d/m/Y') }}</li>
                                </ul>

                                <p>{{ article.content|slice('0', '400')|raw }}</p>

                                <a href="{{ path('nao_blog_details', {'slug': article.slug}) }}" class="read-more">Lire la suite <i class="fa fa-angle-right"></i></a>
                            </div>

                        </div>
                        <!-- Blog Post / End -->
                    {% endfor %}

                </div>
                <!-- Blog Posts / End -->


                <!-- Widgets -->
                <div class="col-lg-3 col-md-4">
                    <div class="sidebar right">

                        <!-- Widget -->
                        <div class="widget margin-top-40">
                            <h3>Des questions ?</h3>
                            <div class="info-box margin-bottom-10">
                                <p>Vous pouvez toujours nous contacter depuis notre formulaire de contact !</p>
                                <a href="{{ path('nao_contact') }}" class="button fullwidth margin-top-20"><i class="fa fa-envelope-o"></i> Nous contacter</a>
                            </div>
                        </div>
                        <!-- Widget / End -->

                        <!-- Widget -->
                        <div class="widget margin-top-40">
                            <h3 class="margin-bottom-25">Nos réseaux</h3>
                            <ul class="social-icons rounded">
                                <li><a class="facebook" href="https://www.facebook.com/nao.asso"><i class="icon-facebook"></i></a></li>
                                <li><a class="twitter" href="https://twitter.com/nao_asso"><i class="icon-twitter"></i></a></li>
                            </ul>

                        </div>
                        <!-- Widget / End-->

                        <div class="clearfix"></div>
                        <div class="margin-bottom-40"></div>
                    </div>
                </div>
            </div>
            <!-- Sidebar / End -->
            {% include ':nao:pagination.html.twig' %}

        </div>
    </div>
{% endblock %}
