{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Gmaps -->
    <style>
        .ui-autocomplete {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            float: left;
            display: none;
            min-width: 160px;
            max-width: 475px;
            padding: 4px 0;
            margin: 0 0 5px 10px;
            list-style: none;
            background-color: #fff;
            border-color: #ccc;
            border-color: rgba(0, 0, 0, 0.2);
            border-style: solid;
            border-width: 0.5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
            *border-right-width: 2px;
            *border-bottom-width: 2px;
        }
        .ui-menu-item > a.ui-corner-all {
            display: block;
            padding: 3px 15px;
            clear: both;
            font-weight: normal;
            line-height: 18px;
            color: #555555;
            white-space: nowrap;
            text-decoration: none;
        }
        .ui-state-hover, .ui-state-active {
            color: #ffffff;
            text-decoration: none;
            background-color: #0088cc;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            background-image: none;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Slider
    ================================================== -->

    <!-- Revolution Slider -->
    <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

        <!-- 5.0.7 auto mode -->
        <div id="rev_slider_4_1" class="rev_slider home fullwidthabanner" style="display:none;" data-version="5.0.7">
            <ul>

                <!-- Slide  -->
                <li data-index="rs-1" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">

                    <!-- Background -->
                    <img src="{{ asset('images/slider-bg-01.jpg') }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0">

                    <!-- Caption-->
                    <div class="tp-caption custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
                         id="slide-1-layer-2"
                         data-x="['right','right','right','right']"
                         data-hoffset="['-80','40','40','40']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['0']"
                         data-width="['540','640', 640','420','320']"
                         data-height="['340']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo"
                         data-transform_out=""
                         data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-responsive_offset="on">

                        <!-- Caption Content -->
                        <div class="R_title margin-bottom-15"
                             id="slide-2-layer-1"
                             data-x="['left','center','center','center']"
                             data-hoffset="['0','0','40','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['-40','-40','-20','-80']"
                             data-fontsize="['42','36', '32','36','22']"
                             data-lineheight="['70','60','60','45','35']"
                             data-width="['640','640', 640','420','320']"
                             data-height="none" data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
                             data-transform_out="opacity:0;s:300;"
                             data-start="600"
                             data-splitin="none"
                             data-splitout="none"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="on"
                             style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 600; ">Observer & partager</div>

                        <div class="caption-text">Rejoignez notre communauté de passionnés d'ornithologie</div>
                        <a href="{{ path('fos_user_registration_register') }}" class="button medium">Inscrivez-vous</a>
                    </div>

                </li>

                <!-- Slide  -->
                <li data-index="rs-2" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">

                    <!-- Background -->
                    <img src="{{ asset('images/slider-bg-02.jpg') }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="112" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0">

                    <!-- Caption-->
                    <div class="tp-caption custom-caption-2 tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0"
                         id="slide-1-layer-2"
                         data-x="['right','right','right','right']"
                         data-hoffset="['-80','40','40','40']"
                         data-y="['bottom','bottom','bottom','bottom']"
                         data-voffset="['0']"
                         data-width="['550','640', 640','420','320']"
                         data-height="['340']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="y:0;opacity:0;s:1000;e:Power2.easeOutExpo;s:400;e:Power2.easeOutExpo"
                         data-transform_out=""
                         data-mask_in="x:0px;y:[20%];s:inherit;e:inherit;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="1000"
                         data-responsive_offset="on">

                        <!-- Caption Content -->
                        <div class="R_title margin-bottom-15"
                             id="slide-2-layer-1"
                             data-x="['left','center','center','center']"
                             data-hoffset="['0','0','40','0']"
                             data-y="['middle','middle','middle','middle']"
                             data-voffset="['-40','-40','-20','-80']"
                             data-fontsize="['42','36', '32','36','22']"
                             data-lineheight="['70','60','60','45','35']"
                             data-width="['640','640', 640','420','320']"
                             data-height="none" data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:-50px;sX:2;sY:2;opacity:0;s:1000;e:Power4.easeOut;"
                             data-transform_out="opacity:0;s:300;"
                             data-start="600"
                             data-splitin="none"
                             data-splitout="none"
                             data-basealign="slide"
                             data-responsive_offset="off"
                             data-responsive="on"
                             style="z-index: 6; color: #fff; letter-spacing: 0px; font-weight: 600; ">NAO est l'application idéale</div>

                        <div class="caption-text">Vous aimez observer les oiseaux, les protéger et contribuer à préserver leur habitat…</div>
                        <a href="{{ path('nao_ajouter_observation') }}" class="button medium">Ajouter une observation</a>
                    </div>

                </li>

            </ul>
            <div class="tp-static-layers"></div>

        </div>
    </div>
    <!-- Revolution Slider / End -->

    <!-- Content
    ================================================== -->

    <!-- Info Section -->
    <section class="fullwidth padding-bottom-75" data-background-color="#f9f9f9">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="headline centered margin-top-80">
                        Engagez-vous
                        <span class="margin-top-25" style="font-size: 18px;">Découvrez l'ornithologie et prenez part à un projet de recherche en faveur de la protection des oiseaux et de l'environement. Partout en France, en ballade, en randonnée, en famille, entre amis ou en solitaire, partez à la découverte des oiseaux et partager vos observations.</span>
                    </h2>
                </div>
            </div>

            <div class="row icons-container">
                <!-- Stage -->
                <div class="col-md-3">
                    <div class="icon-box-2">
                        <img src="{{ asset('images/observer.png') }}" class="img-inline-index">
                        <h3 style="color: #587635;">Observer</h3>
                    </div>
                </div>

                <!-- Stage -->
                <div class="col-md-3">
                    <div class="icon-box-2">
                        <img src="{{ asset('images/transmettre.png') }}" class="img-inline-index">
                        <h3 style="color: #587635;">Transmettre</h3>
                    </div>
                </div>

                <!-- Stage -->
                <div class="col-md-3">
                    <div class="icon-box-2">
                        <img src="{{ asset('images/proteger.png') }}" class="img-inline-index">
                        <h3 style="color: #587635;">Protéger</h3>
                    </div>
                </div>

                <!-- Stage -->
                <div class="col-md-3">
                    <div class="icon-box-2">
                        <img src="{{ asset('images/partager.png') }}" class="img-inline-index">
                        <h3 style="color: #587635;">Partager</h3>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- Info Section / End -->

    <!-- Listings -->
    <div class="container margin-top-70">
        <div class="row">

            <div class="col-md-12">
                <h3 class="headline centered margin-bottom-45">
                    Dernières observations d'oiseaux
                    <span>Découvrez des observations validées par notre équipe</span>
                </h3>
            </div>

            <div class="col-md-12">
                <div class="simple-slick-carousel dots-nav">

                    {% for observation in observations|slice('0', '10') %}
                        <!-- Listing Item -->
                        <div class="carousel-item">
                            <a href="{{ path('nao_details_observation', {'id':observation.id}) }}" class="listing-item-container">
                                <div class="listing-item">
                                    <img src="{{ asset('uploads/observation/' ~ observation.image | default('nao_observation_default.jpeg')) | imagine_filter('thumb_lg') }}" alt="{{ observation.bird.nomCourant }}">

                                    <div class="listing-item-content">
                                        <span class="tag">Observation</span>
                                        <h3>{{ observation.bird.nomCourant }}</h3>
                                        <span>{{ observation.adresse }}, le {{ observation.date | date('d/m/Y') }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Listing Item / End -->
                    {% endfor %}

                </div>

            </div>

        </div>
    </div>
    <!-- Listings / End -->

    <!-- Recent Blog Posts -->
    <section class="fullwidth padding-top-75 padding-bottom-75" data-background-color="#f9f9f9">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="headline centered margin-bottom-50">
                        Derniers articles postés
                    </h3>
                </div>
            </div>

            <div class="row">

                {% for article in articles|slice('0', '3') %}
                    <!-- Blog Post Item -->
                    <div class="col-md-4">
                        <a href="{{ path('nao_blog_details', {'id':article.id}) }}" class="blog-compact-item-container">
                            <div class="blog-compact-item">
                                <img src="{{ asset('uploads/blog/' ~ article.image | default('nao_blog_default.jpeg')) | imagine_filter('thumb_lg') }}" alt="{{ article.title }}">

                                <span class="blog-item-tag">Blog</span>
                                <div class="blog-compact-item-content">
                                    <ul class="blog-post-tags">
                                        <li>{{ article.publishedAt|date('d/m/Y') }}</li>
                                    </ul>
                                    <h3>{{ article.title }}</h3>
                                    <p>{{ article.content }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Blog post Item / End -->
                {% endfor %}

                <div class="col-md-12 centered-content">
                    <a href="{{ path('nao_blog') }}" class="button border margin-top-10">Voir tous les articles</a>
                </div>

            </div>

        </div>

        <!-- Flip banner -->
        <a href="#newsletter" class="flip-banner parallax margin-top-65" data-background="{{ asset('images/slider-bg-01.jpg') }}" data-color="brown" data-color-opacity="0.65" data-img-width="2500" data-img-height="1666">
            <div class="flip-banner-content">
                <h2 class="flip-visible">La Newsletter</h2>
                <h2 class="flip-hidden">Inscrivez-vous <i class="sl sl-icon-arrow-right"></i>
                    <form id="formNewsletter">
                        <input type="hidden" name="token" value="{{ csrf_token('newsletter') }}" />
                        <input name="email" type="email" placeholder="adresse@email.com" />
                        <input type="submit" class="btn btn-primary" id="newsSubmit" name="newsSubmit" value="Valider">
                    </form>
                    <p id="resNewsletter"></p>
                </h2>
            </div>
        </a>
        <!-- Flip banner / End -->

    </section>
    <!-- Recent Blog Posts / End -->
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=geometry"></script>
    <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>
    <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/src/markerclusterer.js"></script>
    <script src="{{ asset('scripts/vendor/gmaps/gmaps.min.js') }}"></script>

    <!-- REVOLUTION SLIDER SCRIPT -->
    <script type="text/javascript" src="{{ asset('scripts/themepunch.tools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts/themepunch.revolution.min.js') }}"></script>

    <script type="text/javascript">
        var tpj=jQuery;
        var revapi4;
        tpj(document).ready(function() {
            if(tpj("#rev_slider_4_1").revolution == undefined){
                revslider_showDoubleJqueryError("#rev_slider_4_1");
            }else{
                revapi4 = tpj("#rev_slider_4_1").show().revolution({
                    sliderType:"standard",
                    jsFileLocation:"scripts/",
                    sliderLayout:"auto",
                    dottedOverlay:"none",
                    delay:9000,
                    navigation: {
                        keyboardNavigation:"off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation:"off",
                        onHoverStop:"on",
                        touch:{
                            touchenabled:"on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        }
                        ,
                        arrows: {
                            style:"zeus",
                            enable:true,
                            hide_onmobile:true,
                            hide_under:600,
                            hide_onleave:true,
                            hide_delay:200,
                            hide_delay_mobile:1200,
                            tmp:'<div class="tp-title-wrap"></div>',
                            left: {
                                h_align:"left",
                                v_align:"center",
                                h_offset:40,
                                v_offset:0
                            },
                            right: {
                                h_align:"right",
                                v_align:"center",
                                h_offset:40,
                                v_offset:0
                            }
                        }
                        ,
                        bullets: {
                            enable:false,
                            hide_onmobile:true,
                            hide_under:600,
                            style:"hermes",
                            hide_onleave:true,
                            hide_delay:200,
                            hide_delay_mobile:1200,
                            direction:"horizontal",
                            h_align:"center",
                            v_align:"bottom",
                            h_offset:0,
                            v_offset:32,
                            space:5,
                            tmp:''
                        }
                    },
                    viewPort: {
                        enable:true,
                        outof:"pause",
                        visible_area:"80%"
                    },
                    responsiveLevels:[1200,992,768,480],
                    visibilityLevels:[1200,992,768,480],
                    gridwidth:[1180,1024,778,480],
                    gridheight:[640,500,400,300],
                    lazyType:"none",
                    parallax: {
                        type:"mouse",
                        origo:"slidercenter",
                        speed:2000,
                        levels:[2,3,4,5,6,7,12,16,10,25,47,48,49,50,51,55],
                        type:"mouse",
                    },
                    shadow:0,
                    spinner:"off",
                    stopLoop:"off",
                    stopAfterLoops:-1,
                    stopAtSlide:-1,
                    shuffle:"off",
                    autoHeight:"off",
                    hideThumbsOnMobile:"off",
                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    debugMode:false,
                    fallbacks: {
                        simplifyAll:"off",
                        nextSlideOnWindowFocus:"off",
                        disableFocusListener:false,
                    }
                });
            }

        });	/*ready*/
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#formNewsletter').on("submit", function(event){
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    data: $(this).serialize(),
                    dataType: 'json',
                    url: "{{ path('nao_newsletter_subscribe') }}",
                    success: function(json){
                        if(json === 'OK') {
                            $('#resNewsletter').text("Adresse email ajoutée !");
                        } else {
                            $('#resNewsletter').text("Une erreur s'est produite, veuillez vérifier votre adresse email !");
                        }
                    }
                });
            });
        });	/*ready*/
    </script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
	(Load Extensions only on Local File Systems !
	The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="{{ asset('scripts/extensions/revolution.extension.actions.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts/extensions/revolution.extension.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts/extensions/revolution.extension.kenburn.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts/extensions/revolution.extension.layeranimation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts/extensions/revolution.extension.migration.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts/extensions/revolution.extension.navigation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts/extensions/revolution.extension.parallax.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts/extensions/revolution.extension.slideanims.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('scripts/extensions/revolution.extension.video.min.js') }}"></script>
{% endblock %}
