<!-- Pagination -->
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <!-- Pagination -->
        <div class="pagination-container margin-bottom-40">
            <nav class="pagination">
                <ul>
                    {% if pagination.page>1 %}
                        <li><a href="{{ path(pagination.route,
                                pagination.route_params|merge({'page': 1})) }}"><i class="fa fa-angle-double-left"></i></a></li>
                        <li><a href="{{ path(pagination.route,
                                pagination.route_params|merge({'page': pagination.page-1})) }}"><i class="fa fa-angle-left"></i></a></li>
                    {% endif %}
                    {#display p numbers only from p-4 to p+4 but don't go <1 or >pages_count#}
                    {% for p in range(max(pagination.page-4, 1),
                        min(pagination.page+4, pagination.pages_count)) %}
                        <li><a{% if p == pagination.page %} class="current-page"{% endif %}
                                    href="{{ path(pagination.route,
                                        pagination.route_params|merge({'page': p})) }}">{{ p }}</a></li>
                    {% endfor %}
                    {% if pagination.page<pagination.pages_count %}
                        <li><a href="{{ path(pagination.route,
                                pagination.route_params|merge({'page': pagination.page+1})) }}"><i class="fa fa-angle-right"></i></a></li>
                        <li><a href="{{ path(pagination.route,
                                pagination.route_params|merge({'page': pagination.pages_count})) }}"><i class="fa fa-angle-double-right"></i></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- Pagination / End -->
